---
title: "24. Dezember - Weihnachten"
linkTitle: "24. Dezember"
publishDate: 2019-12-24T00:00:00+0100
hidden: true
---

<h2>Hurra, es ist Weihnachten!</h2>

<p>Die ft:pedia 2019-4 ist erschienen. Vielen Dank an die ft:pedia-Herausgeber, die uns auch in diesem Jahr an Heiligabend wieder ein spannendes Heft bereitstellen.</p>

<p><a href="../../ftpedia/2019/2019-4/ftpedia-2019-4.pdf"><img src="../img/ftpedia-2019-4_titelseite.png" alt="Titelblatt ft:pedia 2019-4"></a></p>

<p>Oh, fast übersehen, da liegt ja noch so ein kleines <a href="../../bilderpool">Geschenk</a>. Was da wohl drin sein mag?






     
