@charset "utf-8";
/* CSS Document */

body {
	margin: 10px auto;
	max-width: 68em;
	font-family: sans-serif;
	color: #333333;
}

header {
	background: white url("ftlogo-100.svg") 10px 5px no-repeat;
	border-bottom: 2px solid #006ab2;
	margin: 1em;
	padding: 1em;
	padding-left: 120px;
}




footer {
	margin-top: 4em;
	padding:0.5em;
	border-top: 2px solid #006ab2;
}

header a,
footer a {
    color: #006ab2;
    text-decoration: none;
}

header a {
	font-size: 2em;
	font-weight: bold;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    background: #e6f2f7 ;
    text-decoration: underline;
}

.rechts {
  float: right;	
  width: 50%;
  margin-left: 1em;
}

.links {
  float: left;	
  width: 50%;
  margin-right: 1em;
}

.galerie img {
  width: 100%;
}

@media (min-width: 24em) { /* Breite beträgt mindestens 48em */ 

.galerie img{
  width: 50%;
}

}


@media (min-width: 48em) { /* Breite beträgt mindestens 48em */ 

header {
	background: white url("ftlogo.svg") 10px 5px no-repeat;
	padding-left: 420px;   
}

.galerie img{
  width: 23%;
}

}

a[href$=".pdf"],
a[href$=".PDF"] {
  background: url("pdf-icon.svg") no-repeat left; 
  background-size: 1em 1.5em;
  padding-left: 1.5em;
}

