---
title: "04. Dezember - Kleinteile-Quiz"
linkTitle: "04. Dezember - Kleinteile"
publishDate: 2019-12-04T00:00:00+0100
hidden: true
---
<div>
<h2>Bekannte Bauteile und ihre (weniger bekannten) Namen</h2>

<p>"Gib mir mal das Dingsda rüber, du weißt schon ..."</p>
<p>Gerade, wenn man mit fischertechnik im Team baut, ist es nützlich die genauen Bezeichnungen für die einzelnen Steine zu kennen: 


	<div class="rquiz-memo" lang="de">
		<p>Finde die passenden Bauteile und ihre Namen!</p>
		<table>
			<tr>
				<td><img src="../img/3002nc.jpg" alt="winkel60" /></td>
				<td>Winkelstein 60 Grad</td>
			</tr>
			<tr>
				<td><img src="../img/3017n.jpg" alt="winkel60" /></td>
				<td>Winkelstein 15 Grad</td>
			</tr>
			<tr>
				<td><img src="../img/3006.jpg" alt="" /></td>
				<td>Baustein 5</td>
			</tr>       
			<tr>
				<td><img src="../img/3009.jpg" alt="" /></td>
				<td>Baustein 7,5</td>
			</tr>   
			<tr>
				<td><img src="../img/3305.jpg" alt="" /></td>
				<td>Strebenadapter</td>
			</tr>   
			<tr>
				<td><img src="../img/3303.jpg" alt="" /></td>
				<td>Federnocken (Einschiebezapfen)</td>
			</tr>  
			<tr>
				<td><img src="../img/3024.jpg" alt="" /></td>
				<td>Statik - Adapterlasche 15</td>
			</tr> 
			<tr>
				<td><img src="../img/3040.jpg" alt="" /></td>
				<td>Gelenkwürfel komplett 15</td>
			</tr>                                                       
                                          
		</table>
	</div> 
    
<div class="rquiz-memo" lang="de">
		<p>Finde die passenden Bauteile und ihre Namen!</p>
		<table>  
    			<tr>
				<td><img src="../img/3036nc.jpg" alt="bs15" /></td>
				<td>BS15 mit Bohrung</td>
			</tr>
                 			<tr>
				<td><img src="../img/3011nc.jpg" alt="" /></td>
				<td>Klemmbuchse 5</td>
			</tr>  
                 			<tr>
				<td><img src="../img/3015.jpg" alt="" /></td>
				<td>Eckstein 15</td>
			</tr>  
      			<tr>
				<td><img src="../img/3042n.jpg" alt="" /></td>
				<td>Reedkontakthalter</td>
			</tr> 
            			<tr>
				<td><img src="../img/bs30.jpg" alt="" /></td>
				<td>Baustein 30 grau</td>
			</tr> 
			<tr>
				<td><img src="../img/1000g.jpg" alt="" /></td>
				<td>Baustein 15</td>
			</tr>  
			<tr>
				<td><img src="../img/1231rr.jpg" alt="" /></td>
				<td>Baustein 15 2 Zapfen</td>
			</tr>                                                       
			<tr>
				<td><img src="../img/2106.jpg" alt="" /></td>
				<td>Grundplatte, 45 x 45</td>
			</tr>     
       </table>
 </div>           
            
  <script src="../js/rquiz.js"></script>
</div>
