---
title: "14. Dezember - Erinnerungen an die Kindheit"
linkTitle: "14. Dezember - Erinnerungen"
publishDate: 2019-12-14T00:00:00+0100
hidden: true
---
<div>
<h2>Clubheft 15 1972</h2>

<p>Mit dieser Weihnachtsausgabe des Clubheftes 1972 möchten wir an unsere Kindheit, oder die eurer Eltern oder Großeltern, erinnern:

<p><img src="../img/Club_15_1972.png" alt="Clubheft 15 1972"></p>


<a href="../pdf/Club_15_1972.pdf">PDF-Scan</a> (3.0MB)<br>


Quelle: <a href="http://www.fischertechnik-museum.ch/">Fischertechnik-Museum</p>


</div>



     
