---
title: "16. Dezember - Schneemann"
linkTitle: "16. Dezember"
publishDate: 2019-12-16T00:00:00+0100
hidden: true
---
<div>

<h2>Ein Schneemann</h2>

<p><img class="rechts" src="../img/Schneemann2_small.jpg" alt="Schneemann">
</p>

Quelle: <a href="https://ftcommunity.de/details1216.html?image_id=39917#col3">Stefan Lehnerer</a>


</div>




     
