---
title: "20. Dezember - Kleinteile"
linkTitle: "20. Dezember"
publishDate: 2019-12-20T00:00:00+0100
hidden: true
---

<h2>Snowmobil</h2>

<p>Früher, als es noch Schnee gab, wurde ein Snowmobil konstruiert.</p>

<p><img src="../img/snowmobil1.jpg" alt="Snowmobil 1"></p>

Quelle: <a href="https://ftcommunity.de/categories38e4.html?cat_id=1857">Peter Pötzi</a></p>








     
