body
{
	font-family: Sans-Serif;
	color: blue;
}
table
{
	margin-left: auto;
	margin-right: auto;
}
.title
{
	font-weight: bold;
	color: white;
	background-color: blue;
	font-weight: bold;
	font-size: large;
	text-align: center;
}
.project-title
{
	width: 800px;
}
.picture-title
{
	font-size: medium;
}
.description
{
}
.project-description
{
}
.picture-description
{
	text-align: justify;
	margin-top: 6pt;
	margin-bottom: 6pt;
}
.navigation
{
	font-weight: bold;
}
.start-navigation
{
}
.picture-navigation
{
	font-size: small;
	background-color: silver;
}
.home-navigation
{
	text-align: center;
}
.back-navigation
{
	text-align: left;
}
.forward-navigation
{
	text-align: right;
}
.descriptioncell
{
	vertical-align: top;
}
.picturecell
{
	vertical-align: top;
}