---
title: "08. Dezember - Spielplatz"
linkTitle: "08. Dezember - Spielplatz"
publishDate: 2019-12-08T00:00:00+0100
hidden: true
---
<div>

<h2>Spielplatz (Playground) von Primoz Cebulj</h2>

<p>Liebenswerte Kleinmodelle rund um einen Abenteuerspielplatz von Primoz Cebulj</p>

<div class="bilderpool-gallery">
	<figure class="bilderpool-thumbnail">
		<img src="../img/x1.jpg" alt="playground">
    </figure>    
    <figure class="bilderpool-thumbnail">
		<img src="../img/x3.jpg" alt="playground">
    </figure>    
    <figure class="bilderpool-thumbnail">
    	<img src="../img/x4.jpg" alt="playground">
    </figure>    
    <figure class="bilderpool-thumbnail">
    	<img src="../img/x5.jpg" alt="playground">
    </figure>    
    <figure class="bilderpool-thumbnail">
    	<img src="../img/x2.jpg" alt="playground">
    </figure>    
</div>

<p>Hvala Ti ! - Thank you very much!</p>

</div>




     
