---
title: "Adventskalender 2020"
linkTitle: "Adventskalender 2020"
publishDate: 2020-11-21
hidden: true
weight: 5
---
<!--more-->
<style>
#body-inner {
    padding: 0;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
}
#calendar {
  background-color: #fffbf0;
  border: 1px solid transparent;
  width:100%;
  height:auto;
}

g text {
  font-size: 24px;
  font-weight:bold;
  text-anchor: middle;
}

.eins {
  fill: #a9a9a9; 
  stroke: #a8a8a8;
  stroke-width:2px; 
}

.zwei {
  fill: #e7c157;
  stroke:#866a00; 
  stroke-width:1px;
}

.drei {
  fill: yellow;
  stroke: black; 
  stroke-width:1px;
}
.vier {
  fill: #f1f3f4;
  stroke: #666; 
  stroke-width:2px;
}

.five {
  fill: #ffebe6;
  stroke: #c32e04;
  stroke-width:2px;
}

.six {
  fill: #df6c20 ;
  stroke: #666;
  stroke-width:1px;
}



</style>

</head>

<body>

<svg id="calendar" width="600" height="400" viewBox="0 0 600 400">
<defs>
  <path id="stern5" d="M82,75 C83,76 66,61 63,61 60,61 44,78 42,77 40,75 50,54 49,51 48,49 26,39 27,36 
	       c0,-2 24,0 26,-1 2,-1 4,-24 7,-25 2,0 7,22 9,24 2,1 25,-3 26,0 0,2 -19,14 -20,16 
               0,2 10,23 8,24z"></path>   
  <path id="stern6" d="m47,55 l-16-9.2 -16 9.2 v-18.5 l-16-9.2 l16-9.2 v-18.5 l16 9.2 16 -9.2 v18.5 l16 9.24 -16 9.24 v18.56z"></path>	
  <path id="stern8" d="M7,7 h12 l8,-8 l8,8 h12 v12 l8,8l-8,8v12 h-12 l-8,8l-8,-8h-12 v-12l-8,-8l8,-8z"></path>   
</defs>

<g id="dec01" transform="translate(150,130) rotate(-10)">
  <a xlink:href="01/index.html">
  <use xlink:href="#stern5" class="eins"></use>
  <text x="60" y="56">1</text>
  </a>
</g>

<g id="dec02" transform="translate(520,70) rotate(-20)">
  <a xlink:href="02/index.html">
  <use xlink:href="#stern6" class="zwei"></use>
  <text x="30" y="34">2</text>
  </a>
</g>  

<g id="dec03" transform="translate(450,150) rotate(22)">
  <a xlink:href="03/index.html">
  <use xlink:href="#stern8" class="drei"></use>
  <text x="27" y="34">3</text>
  </a>
</g> 

<g id="dec05" transform="translate(50,0)">
  <a xlink:href="05/index.html">
  <use xlink:href="#stern5" class="vier"></use>
  <text x="60" y="56">5</text>
  </a>
</g>

<g id="dec06" transform="translate(500,140) rotate(-20)">
  <a xlink:href="06/index.html">
  <use xlink:href="#stern6" class="five"></use>
  <text x="30" y="34">6</text>
  </a>
</g>  

<g id="dec08" transform="translate(450,270) rotate(0)">
  <a xlink:href="08/index.html">
  <use xlink:href="#stern8" class="five"></use>
  <text x="27" y="34">8</text>
  </a>
</g> 

<g id="dec09" transform="translate(220,70) rotate(-20)">
  <a xlink:href="09/index.html">
  <use xlink:href="#stern6" class="vier"></use>
  <text x="30" y="34">9</text>
  </a>
</g>  

<g id="dec10" transform="translate(20,20) rotate(10)">
  <a xlink:href="10/index.html">
  <use xlink:href="#stern6" class="drei"></use>
  <text x="30" y="34">10</text>
  </a>
</g>  

<g id="dec12" transform="translate(10,330) rotate(-7)">
  <a xlink:href="12/index.html">
  <use xlink:href="#stern6" class="five"></use>
  <text x="27" y="34">12</text>
  </a>
</g> 

<g id="dec13" transform="translate(20,170) rotate(-20)">
  <a xlink:href="13/index.html">
  <use xlink:href="#stern6" class="vier"></use>
  <text x="30" y="34">13</text>
  </a>
</g> 

<g id="dec14" transform="translate(100,100) rotate(10)">
  <a xlink:href="14/index.html">
  <use xlink:href="#stern6" class="six"></use>
  <text x="30" y="34">14</text>
  </a>
</g>   

<g id="dec15" transform="translate(530,330) rotate(22)">
  <a xlink:href="15/index.html">
  <use xlink:href="#stern8" class="drei"></use>
  <text x="27" y="34">15</text>
  </a>
</g> 

<g id="dec17" transform="translate(370,20) rotate(-10)">
  <a xlink:href="17/index.html">
  <use xlink:href="#stern5" class="vier"></use>
  <text x="60" y="56">17</text>
  </a>
</g>

<g id="dec18" transform="translate(15,220) rotate(-10)">
  <a xlink:href="18/index.html">
  <use xlink:href="#stern5" class="eins"></use>
  <text x="60" y="56">18</text>
  </a>
</g>

<g id="dec19" transform="translate(150,20) rotate(-10)">
  <a xlink:href="19/index.html">
  <use xlink:href="#stern6" class="five"></use>
  <text x="30" y="34">19</text>
  </a>
</g>  

<g id="dec20" transform="translate(130,300) rotate(22)">
  <a xlink:href="20/index.html">
  <use xlink:href="#stern8" class="drei"></use>
  <text x="27" y="34">20</text>
  </a>
</g> 



<g id="dec22" transform="translate(300,0) rotate(10)">
  <a xlink:href="22/index.html">
  <use xlink:href="#stern6" class="zwei"></use>
  <text x="30" y="34">22</text>
  </a>
</g>  


<g id="dec23" transform="translate(500,180) rotate(10)">
  <a xlink:href="23/index.html">
  <use xlink:href="#stern5" class="six"></use>
  <text x="60" y="56">23</text>
  </a>
</g>

<g id="dec24" transform="translate(300,100) rotate(10)">
  <a xlink:href="24/index.html">
  <use xlink:href="#stern6" fill="yellow" stroke="black" stroke-width="1"></use>
  <path d="M47,20 l50,-20 l-10,15 l10,10 l-10,10 l10,10 l-50,-10" fill="yellow" stroke="black" stroke-width="1"></path>
  <text x="30" y="34">24</text>
    </a>
</g>  

<g id="dec21" transform="translate(360,290) rotate(10)">
  <a xlink:href="21/index.html">
  <use xlink:href="#stern6" class="eins"></use>
  <text x="30" y="34">21</text>
  </a>
</g>  

<g id="dec11" transform="translate(210,190) rotate(25)">
  <a xlink:href="11/index.html">
  <use xlink:href="#stern6" class="zwei"></use>
  <text x="30" y="34">11</text>
  </a>
</g>  

<g id="dec07" transform="translate(200,250) rotate(10)">
  <a xlink:href="07/index.html">
  <use xlink:href="#stern5" class="zwei"></use>
  <text x="60" y="56">7</text>
  </a>
</g>  

<g id="dec16" transform="translate(280,220) rotate(0)">
  <a xlink:href="16/index.html">
  <use xlink:href="#stern8" class="vier"></use>
  <text x="27" y="34">16</text>
  </a>
</g>  

<g id="dec04" transform="translate(350,190) rotate(-15)">
    <a xlink:href="04/index.html">
   <use xlink:href="#stern6" class="zwei"></use>
  <text x="30" y="34">4</text>
  </a>
</g>   


</svg>



</body></html>
