---
title: "06. Dezember - Straßenwalze"
linkTitle: "06. Dezember - Straßenwalze"
publishDate: 2019-12-06T00:00:00+0100
hidden: true
---
<div>

<h2>Minimodell: Straßenwalze</h2>



<p class="galerie">
<img src="../img/walze.jpg" alt="Straßenwalze - SteamRoller"></p>


<p>
<a href="../img/Straßenwalze.pdf">Bauanleitung (pdf)</a>

</p>

</div>




     
