---
title: "19. Dezember - Herz"
linkTitle: "19. Dezember - Herz"
publishDate: 2019-12-19T00:00:00+0100
hidden: true
---
<div>
<h2><span style="color:red">❤</span>-lichen Dank!</h2>

<p>Jetzt hast Du aber schon viel Geduld mit unserem Adventskalender gehabt - vielen Dank für's Reinschauen!</p>

<div class="bilderpool-gallery">
	<figure class="bilderpool-thumbnail">
		<img src="../img/herz-1.jpg" alt="Herz von Rüdiger Riedel">
		<figcaption>Herz aus Baggerschaufeln<br>von Rüdiger Riedel</figcaption>
    </figure>    
    <figure class="bilderpool-thumbnail">
		<img src="../img/herz-2.jpg" alt="">
    	<figcaption>Herz aus Winkelsteinen, BS15 und BS30</figcaption>
    </figure>    
</div>


</div>



     
