---
title: "09. Dezember - Raumschiff"
linkTitle: "09. Dezember - Raumschiff"
publishDate: 2019-12-09T00:00:00+0100
hidden: true
---
<div>
<h2>Raumschiffe</h2>

<p>Mit den neuen abgerundeten Spezialteilen und Flügeln sind völlig neue Modelle möglich:


<div class="bilderpool-gallery">
	<figure class="bilderpool-thumbnail">
		<img class="rechts" src="../img/prof-Eggerths-st-maschine.jpg" alt="Raumschiff von Prof. Eggerths">
        <figcaption>Raumschiff von Prof. Eggerths</figcaption> 
    </figure>    
    <figure class="bilderpool-thumbnail">
		<img class="rechts" src="../img/raumschiff-spiral-1.jpg" alt="Spiral-Raumschiff">
        <figcaption>Spiral-Raumschiff </figcaption>
    </figure>    
</div>

Eine detaillierte Anleitung mit vielen Fotos findet ihr hier:<br>

<a href="../pdf/raumschiff-spiral.pdf">PDF-Anleitung</a> (362kB)<br>


Vielen Dank an Rüdiger Riedel!</p>


</div>



     
